In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_excel("Extract.xlsx")
df.head()

     y       x1       x2       x3       x4
0  0.0  3861.22  3861.66  3860.75  3861.38
1  0.0  3861.19  3861.38  3860.16  3861.25
2  0.0  3861.38  3861.38  3858.47  3858.53
3  1.0  3858.72  3858.72  3857.03  3858.19
4  1.0  3858.09  3859.16  3858.03  3858.81

In [4]:
cols = ["Open","High","Low","Close","target"]
dff = df[["x1","x2","x3","x4","y"]]
dff.columns = cols
dff["Change"] = dff["Close"] - dff["Open"]
dff.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

      Open     High      Low    Close  target  Change
0  3861.22  3861.66  3860.75  3861.38     0.0    0.16
1  3861.19  3861.38  3860.16  3861.25     0.0    0.06
2  3861.38  3861.38  3858.47  3858.53     0.0   -2.85
3  3858.72  3858.72  3857.03  3858.19     1.0   -0.53
4  3858.09  3859.16  3858.03  3858.81     1.0    0.72

In [6]:
import scipy as sc
from scipy import stats
p_val,p_coef = stats.pearsonr(dff["Change"],dff["target"])
p_val,p_coef

(0.064688469195466, 9.492488262078564e-11)

In [8]:
target = []
Change = []
for i in range(len(dff)-1):
  Change.append(dff["Change"][i+1])
  target.append(dff["target"][i])
X = pd.DataFrame({})
X["Change"] = Change
X["target"] = target

In [9]:
import sklearn
from sklearn.linear_model import LogisticRegression

In [13]:
y = X["target"]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
XC = X[["Change"]]
XC = (XC - XC.min())/(XC.max() - XC.min())
x = sc.fit_transform(XC)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [15]:
Lr = LogisticRegression()
Lr.fit(X_train,y_train)
print(Lr.score(X_train,y_train))
Lr.score(X_test,y_test)

0.9494936867108389

0.9475

In [17]:
test = pd.read_excel("/content/test_data_Analytics GC.xlsx")
test["Change"] = test["x4"] - test["x1"]

In [19]:
sc = StandardScaler()
XC = test[["Change"]]
XC = (XC - XC.min())/(XC.max() - XC.min())
x = sc.fit_transform(XC)

In [20]:
predictions = Lr.predict(x)

In [21]:
predictions = predictions[1:len(predictions)]
predictions = np.append(predictions,0)

In [22]:
y = pd.DataFrame(predictions)
y.to_csv("y.csv",index=None)